%p#notice= notice

%p
  %b Name:
  = @discipline.name
%p
  %b Abbr:
  = @discipline.abbr
- if policy(@discipline).edit?
  = link_to 'Edit', edit_discipline_path(@discipline)
  \|
= link_to 'Back', disciplines_path
