<% if policy(Discipline).index? %>
  <li><%= link_to 'Disciplines', main_app.disciplines_path %></li>
<% end %>
<% if policy(Lector).index? %>
  <li><%= link_to 'Lectors', main_app.lectors_path %></li>
<% end %>
<% if policy(Post).index? %>
  <li><%= link_to 'Posts', main_app.posts_path %></li>
<% end %>
<li><%= link_to 'Forum', forem.forums_path %></li>
<% if user_signed_in? %>
  <% if current_user.forem_admin %>
    <li><%= link_to 'Administrate forum', forem.admin_root_url %></li>
  <% end %>
  <li><%= link_to 'Logout', main_app.destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Login', main_app.new_user_session_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Edit account', main_app.edit_user_registration_path %></li>
<% else %>
  <li><%= link_to 'Sign up', main_app.new_user_registration_path %></li>
<% end %>
